In [25]:
import pandas as pd,numpy as np,matplotlib.pyplot as plt
%matplotlib inline

In [7]:
df=pd.read_csv("homeprices.csv")
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [9]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder()
ohe.get_params()

{'categories': 'auto',
 'drop': None,
 'dtype': numpy.float64,
 'feature_name_combiner': 'concat',
 'handle_unknown': 'error',
 'max_categories': None,
 'min_frequency': None,
 'sparse': 'deprecated',
 'sparse_output': True}

In [12]:
dummies=pd.get_dummies(df)
dummies

    area   price  town_monroe township  town_robinsville  town_west windsor
0   2600  550000                  True             False              False
1   3000  565000                  True             False              False
2   3200  610000                  True             False              False
3   3600  680000                  True             False              False
4   4000  725000                  True             False              False
5   2600  585000                 False             False               True
6   2800  615000                 False             False               True
7   3300  650000                 False             False               True
8   3600  710000                 False             False               True
9   2600  575000                 False              True              False
10  2900  600000                 False              True              False
11  3100  620000                 False              True              False
12  3600  695000                 False              True              False

In [18]:
dummies=dummies.drop(['town_robinsville'],axis='columns')
dummies

    area   price  town_monroe township  town_west windsor
0   2600  550000                  True              False
1   3000  565000                  True              False
2   3200  610000                  True              False
3   3600  680000                  True              False
4   4000  725000                  True              False
5   2600  585000                 False               True
6   2800  615000                 False               True
7   3300  650000                 False               True
8   3600  710000                 False               True
9   2600  575000                 False              False
10  2900  600000                 False              False
11  3100  620000                 False              False
12  3600  695000                 False              False

In [19]:
from sklearn.linear_model import  LinearRegression
model=LinearRegression()

In [21]:
x,y=dummies.drop(['price'],axis='columns'),dummies.price

In [22]:
model.fit(x,y)

LinearRegression()

In [27]:
model.predict([[5000,True,False],[4000,False,False]])

C:\Python311\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([844263.59922593, 743052.56933991])

In [28]:
model.score(x,y)

0.9573929037221872

In [29]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [32]:
dfle=df
dfle.town=le.fit_transform(dfle.town)
dfle

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000

In [53]:
x,y=dfle[['town','area']],dfle.price
x,y

(    town  area
 0      0  2600
 1      0  3000
 2      0  3200
 3      0  3600
 4      0  4000
 5      2  2600
 6      2  2800
 7      2  3300
 8      2  3600
 9      1  2600
 10     1  2900
 11     1  3100
 12     1  3600,
 0     550000
 1     565000
 2     610000
 3     680000
 4     725000
 5     585000
 6     615000
 7     650000
 8     710000
 9     575000
 10    600000
 11    620000
 12    695000
 Name: price, dtype: int64)

In [59]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder()#catergorical_features=[0] to tell which is needed to be expanded
ohe.get_params

In [60]:
X=x
X=ohe.fit_transform(x).toarray()
X

array([[1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.]])