In [9]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.datasets import load_iris

In [15]:
df = load_iris()

df, target = pd.DataFrame(df.data, columns=df.feature_names), pd.DataFrame(
    df.target, columns=['target'])
df,target

(     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
 0                  5.1               3.5                1.4               0.2
 1                  4.9               3.0                1.4               0.2
 2                  4.7               3.2                1.3               0.2
 3                  4.6               3.1                1.5               0.2
 4                  5.0               3.6                1.4               0.2
 ..                 ...               ...                ...               ...
 145                6.7               3.0                5.2               2.3
 146                6.3               2.5                5.0               1.9
 147                6.5               3.0                5.2               2.0
 148                6.2               3.4                5.4               2.3
 149                5.9               3.0                5.1               1.8

 [150 rows x 4 columns],
      target
 0         0
 1         0
 2         0
 3         0
 4         0
 ..      ...
 145       2
 146       2
 147       2
 148       2
 149       2

 [150 rows x 1 columns])

In [18]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test =train_test_split(df,target,test_size=0.2,random_state=10)

In [36]:
model=LogisticRegression()
model.fit(X_train,y_train)
X_train

C:\Users\yuvar\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
58                 6.6               2.9                4.6               1.3
97                 6.2               2.9                4.3               1.3
129                7.2               3.0                5.8               1.6
114                5.8               2.8                5.1               2.4
146                6.3               2.5                5.0               1.9
..                 ...               ...                ...               ...
113                5.7               2.5                5.0               2.0
64                 5.6               2.9                3.6               1.3
15                 5.7               4.4                1.5               0.4
125                7.2               3.2                6.0               1.8
9                  4.9               3.1                1.5               0.1

[120 rows x 4 columns]

In [35]:
from sklearn.metrics import accuracy_score


pred=model.predict(X_test)
print({'predict':pred,'actual':y_test.to_numpy().reshape(1,len(y_test))})
accuracy_score(y_test,pred)
ndf=pd.DataFrame({'predict':pred,'actual':y_test.to_numpy().reshape(1,len(y_test))[0]})
ndf

{'predict': array([1, 2, 0, 1, 0, 1, 1, 1, 0, 1, 1, 2, 1, 0, 0, 2, 1, 0, 0, 0, 2, 2,
       2, 0, 1, 0, 1, 1, 1, 2]), 'actual': array([[1, 2, 0, 1, 0, 1, 1, 1, 0, 1, 1, 2, 1, 0, 0, 2, 1, 0, 0, 0, 2, 2,
        2, 0, 1, 0, 1, 1, 1, 2]])}

    predict  actual
0         1       1
1         2       2
2         0       0
3         1       1
4         0       0
5         1       1
6         1       1
7         1       1
8         0       0
9         1       1
10        1       1
11        2       2
12        1       1
13        0       0
14        0       0
15        2       2
16        1       1
17        0       0
18        0       0
19        0       0
20        2       2
21        2       2
22        2       2
23        0       0
24        1       1
25        0       0
26        1       1
27        1       1
28        1       1
29        2       2